/*fonts*/
    /*font-family: 'Jost', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/

/*nav*/
nav {
	background-color: #ebebeb;
}

nav > ul {
	display: flex;
	list-style: none;
	padding: 1.5rem 0;
	margin: 0;
	align-items: center;
}

nav > ul > li {
	padding: 0 1rem;
}

a {
	text-decoration: none;
	color:#000;
}

a:hover {
	color:#fff;
}

.logo {
	font-size: 1.5rem;
}

.bm {
	margin-left: auto;
}

/*html, body*/
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
}

section {
	padding: 1rem;
}

h1 {
	font-weight: normal;
}

/*color picker*/
.container {
	padding: 2rem;
	max-width: 70vw;
	margin: 5rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5rem;
}

#box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

#colorBox {
	width: 150px;
	height: 150px;
	border-radius: 5px;
	background-color: #80cbc4;
	-webkit-box-shadow: 12px 14px 44px -8px rgba(0,0,0,0.15);
	-moz-box-shadow: 12px 14px 44px -8px rgba(0,0,0,0.15);
	box-shadow: 12px 14px 10px -8px rgba(0,0,0,0.15);
	}

#colorName {
	width: 5rem;
	padding: .5rem 1rem;
	webkit-box-shadow: inset 12px 14px 19px 0px rgba(0,0,0,0.32);
	-moz-box-shadow: inset 12px 14px 19px 0px rgba(0,0,0,0.32);
	box-shadow: inset 8px 8px 8px -10px rgba(0,0,0,0.32);
}

/*gradiant generator*/
.gradiant > h1 {
	color: #fff;
}

.gradiant {
	background: linear-gradient(90deg, #f44336, #9c27b0);
}

.container-grad {
	margin: 5rem 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.textBox {
	margin-top: 1rem;
	-webkit-box-shadow: inset 12px 14px 19px 0px rgba(0,0,0,0.32);
	-moz-box-shadow: inset 12px 14px 19px 0px rgba(0,0,0,0.32);
	box-shadow: inset 8px 8px 8px -10px rgba(0,0,0,0.32);
}

.textBox > h1 {
	color: #fff;
	font-size: 1.1rem;
	padding: .1rem .5rem;
}

	/*range slider*/
#range {
	width: 200px;
	margin-top: .5rem;
}


/*footer*/
footer {
	background-color: #ebebeb;
	color: #ababab;
	padding: 2rem;
	text-align: center;
}

footer > h2 {
	padding: 0;
	margin: 0 auto;
	font-size: 1em;
	font-weight: normal;
}